<h1>Listing t_searches</h1>

<table>
  <tr>
    <th>Chinese name</th>
    <th>Domain name</th>
    <th>Class name</th>
    <th>Charset</th>
    <th>Max page</th>
  </tr>

<% for t_search in @t_searches %>
  <tr>
    <td><%=h t_search.chinese_name %></td>
    <td><%=h t_search.domain_name %></td>
    <td><%=h t_search.class_name %></td>
    <td><%=h t_search.charset %></td>
    <td><%=h t_search.max_page %></td>
    <td><%= link_to 'Show', t_search %></td>
    <td><%= link_to 'Edit', edit_t_search_path(t_search) %></td>
    <td><%= link_to 'Destroy', t_search, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New t_search', new_t_search_path %>
