
%table{:width=>"100%", :border=>"0", :align=>"center", :cellpadding=>"0", :cellspacing=>"0",:class=>"font05"}
  %tr
    %td{:width=>"15%",:height=>"35", :align=>"center", :valign=>"middle", :background=>"/images/index_r1_c3.jpg"}="真实姓名"   
    %td{:width=>"10%", :align=>"center", :valign=>"middle", :background=>"/images/index_r1_c3.jpg"}="用户名"
    %td{:width=>"15%", :align=>"center", :valign=>"middle", :background=>"/images/index_r1_c3.jpg"}="电子邮箱"
    %td{:width=>"20%", :align=>"center", :valign=>"middle", :background=>"/images/index_r1_c3.jpg"}="固定电话"
    %td{:width=>"20%", :align=>"center", :valign=>"middle", :background=>"/images/index_r1_c3.jpg"}="手机" 
    %td{:width=>"20%", :align=>"center", :valign=>"middle", :background=>"/images/index_r1_c3.jpg"}="操作"

%table{:width=>"100%", :border=>"0", :align=>"center", :cellpadding=>"0", :cellspacing=>"0"}
  %tr
    %td{:align=>"center" ,:valign=>"top"}
      - for employee in @employees
        %table{:width=>"100%",:border=>"0", :align=>"center", :cellpadding=>"7", :cellspacing=>"0"}
          %tr
            %td{:width=>"20",:height=>"24",:align=>"left",:valign=>"middle"}
              &nbsp;
            %td{:align=>"left", :valign=>"middle"}
              = employee.name
              ="先生" if employee.sex == 0
              ="女士" if employee.sex == 1 
              -#= link_to(employee.name,[@company,employee])
              %br
            %td{:width=>"10%",:align=>"center", :valign=>"middle"}
              = employee.login
              &nbsp;
            %td{:width=>"15%",:align=>"center", :valign=>"middle"}
              = employee.email
            %td{:width=>"20%",:align=>"center", :valign=>"middle"}
              = employee.tel1 
              ="-"
              = employee.tel2
              ="-"
              = employee.tel3
              &nbsp;
            %td{:width=>"20%",:align=>"center", :valign=>"middle"}
              = employee.mobile
              &nbsp;
              
            %td{:width=>"20%",:align=>"center", :valign=>"middle"}
              =link_to('详细信息', [@company,employee],:class=>"c")
              ="| #{link_to('编辑', [:edit, @company, employee],:class=>"c")} |"
              =link_to('删除', [@company,employee], :confirm => 'Are you sure?', :method => :delete,:class=>"c")
          %tr
            %td{:height=>"1",:colspan=>"7",:align=>"center", :valign=>"middle", :bgcolor=>"#76B6DC"}
  %tr
    %td{:height=>"70", :align=>"center", :valign=>"middle"}  

%table{:width=>"100%",:border=>"0",:align=>"center", :cellpadding=>"0",:cellspacing=>"0"}
  %tr 
    %td{:width=>"35",:height=>"35",:align=>"center",:valign=>"middle",:bgcolor=>"#EEEEEE"}
      &nbsp;
    %td{:align=>"left",:valign=>"middle",:bgcolor=>"#EEEEEE"}
      %table{:border=>"0",:align=>"left",:cellpadding=>"0",:cellspacing=>"0"}
        %tr
          %td{:height=>"20",:align=>"left",:valign=>"middle",:bgcolor=>"#FF6600"}
            &nbsp;
            =link_to('+添加新联系人', new_company_employee_path(@company),:class=>"d")
            &nbsp;
          %td{:width=>"10",:align=>"center",:valign=>"middle"}
            &nbsp;
          %td{:align=>"left",:valign=>"middle",:bgcolor=>"#FF6600"}
            &nbsp;
            =link_to('+返回公司列表',companies_path,:class=>"d")