<h1>Editing seo_result</h1>

<% form_for(@seo_result) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :t_search %><br />
    <%= f.text_field :t_search %>
  </p>
  <p>
    <%= f.label :seo_keyword %><br />
    <%= f.text_field :seo_keyword %>
  </p>
  <p>
    <%= f.label :total %><br />
    <%= f.text_field :total %>
  </p>
  <p>
    <%= f.label :page_num %><br />
    <%= f.text_field :page_num %>
  </p>
  <p>
    <%= f.label :rank %><br />
    <%= f.text_field :rank %>
  </p>
  <p>
    <%= f.label :time %><br />
    <%= f.date_select :time %>
  </p>
  <p>
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @seo_result %> |
<%= link_to 'Back', seo_results_path %>
