
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="font05">
  <tr>
    <td width="30" height="35" align="center" valign="middle" background="/images/index_r1_c3.jpg">&nbsp;</td>
    <td align="left" valign="middle" background="/images/index_r1_c3.jpg">查看关键字</td>
  </tr>
</table>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top">
      <table width="100%" border="0" align="center" cellpadding="5" cellspacing="0">
        <tr>
          <td width="20" height="24" align="left" valign="middle" bgcolor="#EDF8FF">&nbsp;</td>
          <td width="210" align="left" valign="middle" bgcolor="#EDF8FF" class="font06">公司名称：</td>
          <td align="left" valign="middle"><%=h @seo_keyword.company.name %></td>
        </tr>
        <tr>
          <td height="1" colspan="3" align="center" valign="middle" bgcolor="#76B6DC"></td>
        </tr>
      </table>
      <table width="100%" border="0" align="center" cellpadding="5" cellspacing="0">
        <tr>
          <td width="20" height="24" align="left" valign="middle" bgcolor="#EDF8FF">&nbsp;</td>
          <td width="210" align="left" valign="middle" bgcolor="#EDF8FF" class="font06">关 键 字：<br /></td>                                                                                        
          <td align="left" valign="middle"><%=h @seo_keyword.keyword %></td>
        <tr>
          <td height="1" colspan="3" align="center" valign="middle" bgcolor="#76B6DC"></td>
        </tr>
      </table>
      <table width="100%" border="0" align="center" cellpadding="5" cellspacing="0">
        <tr>
          <td width="20" height="24" align="left" valign="middle" bgcolor="#EDF8FF">&nbsp;</td>
          <td width="210" align="left" valign="middle" bgcolor="#EDF8FF" class="font06">搜索记录：<br /></td>
          <td align="left" valign="middle"><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0" >
            <% unless @seo_keyword.seo_results.empty? %>
            <tr class="font06">
              <td width="95" align="center" valign="middle">搜索引擎</td>                                                                                                                         
              <td width="76" align="center" valign="middle">总排名</td>                                                                                                                           
              <td width="76" align="center" valign="middle">所在页码</td>                                                                                                                          
              <td width="76" align="center" valign="middle">页面排名</td>                                                                                                                          
              <td width="95" align="center" valign="middle">搜索时间</td>                                                                                                                         
              <td width="89" align="center" valign="middle">页面快照</td> 
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td height="2" colspan="6" align="center" valign="middle" bgcolor="#CCCCCC"></td>
            </tr>
            <% end %>
            <% @seo_keyword.seo_results.find(:all,:conditions =>["seo_domain_id < 4"]).sort_by{|x| x.t_search_id}.each do |r| %>
            <tr>           
              <td width="95" height="25" align="center" valign="middle"><%=h TSearch.find(r.t_search_id).chinese_name %></td>                                                                                                               
              <td width="76" align="center" valign="middle"><%=h r.total %></td>                                                                                                                            
              <td width="76" align="center" valign="middle"><%=h r.page_num %></td>                                                                                                                             
              <td width="76" align="center" valign="middle"><%=h r.rank %></td>                                                                                                                             
              <td width="95" align="center" valign="middle"><%=h r.time%></td>                                                                                                                   
              <td width="89" align="center" valign="middle"><a href="http://192.168.4.150:2080/seo/<%=h r.path.gsub(/\\/,"/")%>" class="b">          
                     <%=h TSearch.find(r.t_search_id).chinese_name %>快照</a></td>
              <td>&nbsp;</td>
            </tr>
           <% end %>
          </table></td>
        </tr>
        <tr>
          <td height="1" colspan="3" align="center" valign="middle" bgcolor="#76B6DC"></td>
        </tr>
      </table>
	  <table width="100%" border="0" align="center" cellpadding="5" cellspacing="0">
        <tr>
          <td width="20" height="24" align="left" valign="middle" bgcolor="#EDF8FF">&nbsp;</td>
          <td width="210" align="left" valign="middle" bgcolor="#EDF8FF" class="font06">相关操作：<br /></td> 
          <td align="left" valign="middle"><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0" class="font06">                                                         
            <tr>                                                                                                                                                                               
              <td width="75" align="center" valign="middle"><%=link_to '编辑关键字',[:edit, @company, @seo_keyword],:class=>"c" %></td>                                                                                                                         
              <td width="15" align="center" valign="middle">&nbsp;</td>                                                                                                                           
              <td width="95" align="center" valign="middle"><%= link_to '删除关键字', [@company,@seo_keyword], :confirm => 'Are you sure?', :method => :delete ,:class=>"c"%></td>                                                                                                                                                                                                                                                                                           
               <td align="center" valign="middle">&nbsp;</td>
			</tr>                                                                                                                                                                              
          </table></td>                                                                                                                                                                        
        </tr>                                                                                                                                                                                  
        <tr>                                                                                                                                                                                   
          <td height="1" colspan="3" align="center" valign="middle" bgcolor="#76B6DC"></td>                                                                                                    
        </tr>                                                                                                                                                                                  
      </table>          
</table>
           
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="35" height="35" align="center" valign="middle" bgcolor="#EEEEEE">&nbsp;</td>
    <td align="left" valign="middle" bgcolor="#EEEEEE"><table border="0" align="left" cellpadding="0" cellspacing="0">
      <tr>
        <td height="20" align="left" valign="middle" bgcolor="#FF6600">&nbsp;
        <%= link_to '+返回公司列表', companies_path, :class=>"d"%>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>


